/node_modules

/dist


.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

*.js
*.js.map

*.tsbuildinfo

src/uploads/*/**.*